body {
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}


.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%; 
    padding: 5px 40px;
    background-color: #fff;
    border-bottom: 1px solid rgb(165, 165, 165);
    box-sizing: border-box;
    overflow: hidden;
}


.logo {
    font-family: 'Lobster', 'cursive';
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.bloc-nav {
    flex-grow: 1;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    /* Centre les menus horizontalement */
    padding: 0;
}

.menu li {
    list-style: none;
    margin: 0 15px;
}

.menu li a {
    text-decoration: none;
    color: #000;
    font-family: 'Inter';

}

.reseaux {
    display: flex;
    gap: 20px;
}
.reseaux a {
    text-decoration: none;
    color: #000;
}
.fi-brands-twitter{
    font-size: 25px;
}
.fa-facebook-f{
    font-size: 22px;
}
.fi-brands-instagram{
    font-size: 24px;
}

.nav-section .menu-resp{
    color: black;
    font-size: 1.1em;
    background-color:#E7F9FD;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    border: none;
}

@media (max-width: 767px) {

    .nav-section{
        border-bottom: none;
        max-height: 10vh;
    }

    .nav-section .menu-resp{
        display: block;
    }

    .bloc-nav{
        display: none;
    }

    .bloc-nav {
        position: absolute;
        margin-top: 6em;
        z-index: 1;
        right: 15%;
    }

    .menu{
        display: flex;
        flex-direction: column;
        background-color: #E7F9FD;
        border-radius: 10px;
        float: right;
        margin-top: 4.80em;
        margin-left: 20px;
    }
    .menu li{
        padding: 3px;
    }
    .menu li a{
        color: black;
    }
    
    .reseaux{
        display: none;
    }
    .bloc-nav.show {
        display: flex;
    }
}


